#background-video {
    position: fixed;
    left: 120px;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.quiet-link {
    text-decoration: none;
}

.portfolio-image {
    max-height: 163px;
    max-width: 100%;
}

.background-overlay {
    position: relative;
    background: rgba(0, 0, 0, 0.7);
}


/* Set the font families for the pages */

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif
}

hr.sidebar {
    margin-top: 0px;
    border: 1px solid darkgray;
}

hr.separator {
    border: 1px solid darkgray;
    border-radius: 10px;
}

.w3-row-padding img {
    margin-bottom: 12px
}


/* Set the width of the sidebar to 120px */

.w3-sidebar {
    width: 120px;
    background: #222;
}


/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */

#main {
    margin-left: 120px;
}


/* Remove margins from "page content" on small screens */

@media only screen and (max-width: 600px) {
    #background-video {
        left: 0;
    }
    #main {
        margin-left: 0
    }
    #sos-trailer {
        width: 364px;
        height: 216px;
    }
}