

.center {
    margin:  auto;
    text-align: center;
}

.left {
    text-align: left;
}
.right {
    text-align: right;
    vertical-align: bottom;
}

.row {
    display: flex;
  }
  .column {
    flex: right;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }

  .reading_text {
    background-color: rgba(0,0,0,0.03);
  }